<html>

<head>
    <title>Agency fares</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <link href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/scripts/mainController.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <br>
        <h1>Currency manager</h1>
        <br>
        <div ng-app="myApp" ng-controller="myCtrl">

            <table class="table" id="example">
                <thead>
                    <tr>
                        <th scope="col">Currency simbol</th>
                        <th scope="col">Currency position</th>
                        <th scope="col">Cents</th>
                        <th scope="col">Format</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in moneyFormats">
                        <th scope="row">{{item.currencySimbol}}</th>
                        <td>{{item.currencyPosition}}</td>
                        <td>{{item.showCents ? 'Show' : 'Hide'}}</td>
                        <td>{{item.decimalSeparator == 'dot' ? '9,999.99' : '9.999,99'}}</td>
                        <td>{{item.enabled ? 'Activated' : 'Deactivated'}}</td>
                        <td>
                            <button class="btn btn-outline-primary" type="button" ng-click="callAddNew()"><span
                                    class="material-icons">
                                    edit
                                </span></button>
                            <button class="btn btn-outline-primary" type="button" ng-click="deleteFare($index)"><span
                                    class="material-icons">
                                    delete
                                </span></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button class="btn" type="button" ng-click="callAddNew()">Add new</button>


        </div>
    </div>




</body>

</html>